# Byte-compiled / optimized / DLL files
__pycache__/
PocketDetection*/
AffinityPrediction*/
smith-waterman-src/*.fasta
smith-waterman-src/*.out
tmp/
input/
MasifOutput/
AnchorOutput/
*.zip
*.fasta
.ipynb_checkpoints/

